

.title{
    position: absolute;
    right: 50%;
    font-family: sans-serif;
    font-size: 40px;
    color: rgb(40, 161, 91);
}

.subtitle{
    position: absolute;
    top: 5rem;
    right: 38%;
    font-family: sans-serif;
    color: rgb(79, 184, 123);
    text-align: center;
}

main{
    min-height: 100vh;
    background: linear-gradient(to right top , #66c79a , #7ceca2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass {
    position: relative;
    background: white;
    min-height: 80vh;
    width: 60%;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    );
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
    display: flex;
  }
  .circle1,
  .circle2 {
    background: white;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.3)
    );
    height: 20rem;
    width: 20rem;
    position: absolute;
    border-radius: 50%;
  }
  
  .circle1 {
    top: 5%;
    right: 15%;
  }
  .circle2 {
    bottom: 5%;
    left: 10%;
  }

  #idNumber,#password{
    margin: auto;
    width: 40%;
    height: 2rem;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
      );
    border-width: 0;
    border-radius: 2rem;
    position: absolute;
    top: 50%;
  }
  #idNumber{
    left: 5%;
  }
  #password{
    right: 5%;
  }

  #onoLogo{
    z-index: 3;
    height: 15%;
    position: absolute;
    top: 4%;
    right: 3%;

  }

  #loginButton{
    margin: auto;
    width: 20%;
    height: 2rem;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.9),
        rgba(255, 255, 255, 0.3)
      );
    border-width: 0;
    border-radius: 2rem;
    position: absolute;
    top: 60%;
    left: 40%;
  }
