main{
    min-height: 100vh;
    background: linear-gradient(to right top , #66c79a , #7ceca2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass {
    position: relative;
    background: white;
    min-height: 80vh;
    width: 60%;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    );
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
    display: flex;
  }
  .circle1,
  .circle2 {
    background: white;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.3)
    );
    height: 20rem;
    width: 20rem;
    position: absolute;
    border-radius: 50%;
  }
  
  .circle1 {
    top: 5%;
    right: 15%;
  }
  .circle2 {
    bottom: 5%;
    left: 10%;
  }

  .buttons{
    z-index: 4;
    width: 10%;
    height: 7%;
    font-size: large;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.9),
        rgba(255, 255, 255, 0.3)
      );
    border-width: 0;
    border-radius: 2rem;
  }

#btnAdd{
    position: absolute;
    top: 15%;
    right: 5%;
}

#btnDel{
    position: absolute;
    top: 25%;
    right: 5%;
}

#btnUpdate{
    position: absolute;
    top: 35%;
    right: 5%;
}

.lecturerSelector{
  height: fit-content;
  width: auto;
  font-size: medium;
  z-index: 4;
  background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.9),
        rgba(255, 255, 255, 0.3)
      );
    border-width: 0;
    border-radius: 2rem;

    position: absolute;
    top: 17%;
    right: 20%;
}



#lecturerName,#lecturerID,#lecturerType,#teachableCourses{
  font-size: medium;
  position: absolute;
  right: 20%;
}

#lecturerName{
top: 22%;
}

#lecturerID{
  top: 27%;
}

#lecturerType{
  top: 32%;
}

#teachableCourses{
  top: 37%;
}

.mymodal {
  z-index: 5;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: 1px solid #ccc;
  background: linear-gradient(to right top , #66c79a , #7ceca2);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
}

.myoverlay {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

